<html>

<head>
    <link rel="stylesheet" href="../assets/css/index.css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../assets/js/index.js"></script>
</head>

<body>
    <img src="../assets/images/cng.png" height="48" width="48"/>
    <p> Sample Go Web Application!! </p>
    <p class="greeting-id">The id is {{.ID}}</p>
    <p class="greeting-content">The content is {{.Content}}</p>
    <p class="Randnum">The random number is </p>
    <form action="/signin" method="post">
        <p>Username: <input type="text" name="username"></p>
        <p>Password: <input type="password" name="password"></p>
        <input type="submit" value="signin">
    </form>
</body>

</html>