<html>
    
<head>
    <link rel="stylesheet" href="css/info.css" />
</head>

<body>
    <table class="box" border="5" border-color="#99ccff">
        <tr>
            <td>Username</td>
            <td>{{.Username}}</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>{{.Password}}</td>
        </tr>
        <tr>
            <td>ID</td>
            <td>{{.ID}}</td>
        </tr>
        <tr>
            <td>School</td>
            <td>{{.School}}</td>
        </tr>
        <tr>
            <td>GPA</td>
            <td>{{.GPA}}</td>
        </tr>
    </table>
</body>

</html>